<div class="row" style="display: flex;">
  <img src="./../assets/images/logo.png" height="75" alt="logo">
  <p style="font-weight: bolder; font-size:x-large; position: absolute; top: 30px; left: 80px;">Staffordshire Regional Tourist Attraction</p>
</div>
<div style="position: absolute; top: 50%; font-size: xx-large; font-weight: bolder;left: 10px;">
  SRTA - HOLIDAY REVIEW PORTAL
  <br>
  <br>
  <button mat-raised-button color="primary" class="btn"><span class="icon"></span>&nbsp;<span class="letter">Reviews</span></button>
</div>
<router-outlet></router-outlet> 
