<mat-card>
    <mat-card-content>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <h2>Guest</h2>
        <mat-error *ngIf="!loginValid">
          The username and password were not recognized
        </mat-error>
        <mat-form-field>
            <input matInput placeholder="Fist Name" [(ngModel)]="firstName" name="firstName" required>
            <mat-error>
              First Name is required
            </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Last Name" [(ngModel)]="lastName" name="lastName" required>
          <mat-error>
            Last Name is required
          </mat-error>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Make Review</button>
      </form>
    </mat-card-content>
  </mat-card>