<h1 class="title">{{title}}</h1>
<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let data of post">
      <mat-card class="mat-elevation-z4 my-theme">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image" style='background-image: url("{{data.subImageUrl}}");'></div>
            <mat-card-title>{{data.title}}</mat-card-title>
            <mat-card-subtitle>{{data.location}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="{{data.mainImageUrl}}" alt="Photo of a Audley">
          <mat-card-content>
            <p align="justify">
              {{data.description}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
  </div>
  </div>
</div>

